    <div class="container table-one">

        <div class="row titles table-active">
            <div class="col-2 title"></div>
            <div class="col-2 title"><p>Item category:</p></div>
            <div class="col-2 title"><p>Item name:</p></div>
            <div class="col-2 title"><p>Item description:</p></div>
            <div class="col-2 title"><p>Item price:</p></div>
            <div class="col-2 title"></div>
        </div>

        {{#each products}}
        <div class="row">
            <div class="col-2"><img class="img" src="{{product_image}}"></div>
            <div class="col-2"><p>{{category}}</p></div>
            <div class="col-2"><p>{{name}}</p></div>
            <div class="col-2"><p>{{description}}</p></div>
            <div class="col-2"><p>{{price}}</p></div>
            <div class="col-2"><button class="btn btn-secondary" id="{{id}}">Remove item</button></div>
        </div>
        {{/each}}

    </div>

    <div class="container table-two">

        <div class="row prices">
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-4 alert alert-dismissible alert-info price">
                <span class="price">Total:</span>
                <span class="pricetwo" id="totalPrice">$ 0.00</span>
            </div>
            <div class="col-2"></div>
        </div>
    </div>