<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-primary ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Organic Eco Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <div id="loginbutton">
          <li class="nav-item cta cta-colored active"><a href="/buy/cart" class="nav-link"><span
                class="icon-shopping_cart"><i class="fas fa-shopping-cart"></i></a></li></span>

        </ul>
      </div>
    </div>
  </nav>

<div id="categoryListNames">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/dairy">Dairy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/protein">Protein</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/produce">Produce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/hemp">Hemp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/beauty">Beauty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/cleaning">Cleaning</a>
        </li>
    </ul>
</div>

<div id="productspage">

  <div class="row">
    <div class="col-9" id="left-column">
      <div id="product-card" class="col-12">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-12">
              <h2 class="card-title">{{name}}</h2><br>
            </div>
            <div class="col-md-6" id="product-image">
              <img src="{{product_image}}"
                class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <p class="card-text" id="product-description">{{description}}</p>
                <span class="badge badge-danger" id="discount">{{discount}}% OFF!</span>
                <p class="card-text" id="price">${{price}}</p>

                <div class="form-group">
                  <label for="exampleSelect1">Quantity:</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>

                </div>

                <button type="button" class="btn btn-success btn-lg add-to-cart" id="{{id}}">Add to cart</button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card text-center" id="product-extra-info">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nutritional Info</a>
            </li>
          </ul>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-sm-3">
              <div class="rating-block">
                <h5>Average user rating</h5>
                <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                  <span><i class="fas fa-star" aria-hidden="true"></i></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                  <span><i class="fas fa-star" aria-hidden="true"></i></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                  <span><i class="fas fa-star" aria-hidden="true"></i></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                  <span><i class="fas fa-star" aria-hidden="true"></i></span>
                </button>
              </div>
            </div>
            <div class="col-sm-3">
              <h4>Rating breakdown</h4>
              <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                  <div style="height:9px; margin:5px 0;">5 <span><i class="fas fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
                <div class="pull-left" style="width:180px;">
                  <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5"
                      aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">1</div>
              </div>
              <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                  <div style="height:9px; margin:5px 0;">4 <span><i class="fas fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
                <div class="pull-left" style="width:180px;">
                  <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4"
                      aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">1</div>
              </div>
              <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                  <div style="height:9px; margin:5px 0;">3 <span><i class="fas fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
                <div class="pull-left" style="width:180px;">
                  <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0"
                      aria-valuemax="5" style="width: 60%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">0</div>
              </div>
              <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                  <div style="height:9px; margin:5px 0;">2 <span><i class="fas fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
                <div class="pull-left" style="width:180px;">
                  <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2"
                      aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">0</div>
              </div>
              <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                  <div style="height:9px; margin:5px 0;">1 <span><i class="fas fa-star" aria-hidden="true"></i></span>
                  </div>
                </div>
                <div class="pull-left" style="width:180px;">
                  <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0"
                      aria-valuemax="5" style="width: 20%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">0</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-7">
              <hr />
              <div class="review-block">
                <div class="row">
                  <div class="col-sm-3">
                    <img src="https://github.com/sahernandezr/Project-2/blob/sandra/public/images/man.jpg?raw=true" class="img-rounded">
                    <div class="review-block-name"><a href="#">John</a></div>
                    <div class="review-block-date">January 2, 2020<br />9 days ago</div>
                  </div>
                  <div class="col-sm-9">
                    <div class="review-block-rate">
                      <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                    </div>
                    <div class="review-block-title">Great price!</div>
                    <div class="review-block-description">It arrived in great condition</div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <img src="https://github.com/sahernandezr/Project-2/blob/sandra/public/images/woman.jpg?raw=true" class="img-rounded">
                    <div class="review-block-name"><a href="#">Jane</a></div>
                    <div class="review-block-date">December 29, 2019<br />13 days ago</div>
                  </div>
                  <div class="col-sm-9">
                    <div class="review-block-rate">
                      <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                      <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <span><i class="fas fa-star" aria-hidden="true"></i></span>
                      </button>
                    </div>
                    <div class="review-block-title">This was nice in buy</div>
                    <div class="review-block-description">This is my favorite brand and the price is great too!</div>
                  </div>
                </div>
                <hr />
                
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="col-3">
      <img src="https://github.com/sahernandezr/Project-2/blob/sandra/public/images/mailing-list-half-sky.png?raw=true">
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>